body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #ffffff;
}

.container {
    width: 50%;
    margin: 60px auto;
}

.album-info {
    display: flex;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    background-color: rgb(0, 0, 0); 
}

.album-info img {
    width: 150px;
    height: auto;
    border-radius: 10px;
}

.song-details {
    padding: 20px;
}

.song-details h2 {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,#ff7575 0%,rgb(253, 98, 51) 29%,#ffb413 67%,#ffd000 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;

    font-size: 21px;
}
 
@keyframes textclip {
   to {
     background-position: 200% center;
   }
 }