body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #ffffff;
    color: #fff;
}

.container {
    width: 80%;
    margin: 50px auto;
}

.album-info {
    display: flex;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.5); 
}

.album-info img {
    width: 150px;
    height: auto;
    border-radius: 10px;
}

.song-details {
    padding: 20px;
}

.song-details h2 {
    font-family: 'Montserrat', sans-serif;
    margin-top: 0;
    font-size: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.song-details p {
    margin: 0;
    font-size: 18px;
}
